html:lang(en) :not(:lang(en)),
html:lang(nl) :not(:lang(nl)),
html:lang(hu) :not(:lang(hu)){
    display: none;
}

@mixin transition{
    @for $item from 1 through 3 {
        .item:nth-child(#{$item}){
            transition: transform 500ms #{$item * 150}ms;
            transform: translateY(40px);
            color: lightsalmon;
        }
    }
}

.bar{
    border: 1px solid orangered;
    width: 40%;
    height: 3em;
    // overflow: hidden;
    &:hover{
        @include transition;
    }
}

.list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    // transition: 200ms;
}
.hide{
    transform: translateY(40px);
}

.item{
    color: rgb(30, 102, 236);
}

.svgcontainer{
    width: 300px;
    height: 300px;
}
svg{
    width: 100%;
    height: 100%;
}
.circle{
    cx: 50%;
    cy: 50%;
    r: 100px;
    fill: cyan;
    stroke: url('#grad');
    stroke-width: 10px;
    stroke-linecap: round;
    // clip-path: url('#cut-off');
    transform: rotateZ(-90deg);
    transform-origin: center;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    transition: 2300ms;
    &:hover{
        stroke-dashoffset: 0;
    }
}


.animborder{
    position: relative;
    width: 120px;
    height: 120px;
    background: linear-gradient(to left, cyan, lightgreen);
    border: none;
    border-radius: 100%;
    box-shadow: 60px -60px 0 2px red, -60px -60px 0 2px green, -60px 60px 0 2px red, 60px 60px 0 2px red, 0 0 0 2px #E94E3D;
    transition: 1300ms;
    &:hover{
        box-shadow: 0 -125px 0 2px cyan, -60px -60px 0 2px cyan, -60px 60px 0 2px cyan, 60px 60px 0 2px cyan, 0 0 0 2px #bbb;
        box-shadow: 0 -125px 0 2px orange, -125px 0px 0 2px orange, -60px 60px 0 2px orange, 60px 60px 0 2px orange, 0 0 0 2px #222;
        box-shadow: 0 -125px 0 2px cyan, -125px 0px 0 2px cyan, 0px 125px 0 2px cyan, 60px 60px 0 2px cyan, 0 0 0 2px #777;
        box-shadow: 0 -125px 0 2px cyan, -125px 0px 0 2px cyan, 0px 125px 0 2px cyan, 120px 40px 0 2px cyan, 0 0 0 2px rgb(25, 114, 197);
    }
}


.textorient{
    // text-orientation: upright;
    writing-mode: vertical-lr;
    transform: rotateZ(-180deg);
}